html,
body {
    margin: 0;
    padding: 0;
}
#box {
    width: 500px;
    margin: 0 auto;
}

.item {
    margin-bottom: 50px;
    border-bottom: 2px dotted #95e272;
}
.item .text {
    margin: 12px;
    font-size: 22px;
    text-align: center;
}
.item .text .chinese {
    display: none;
}
.item .img img {
    width: 500px;
}
